<p>
    Seit nun knapp 2 Jahren verfolge ich die Fotografie leidenschaftlich um auch mal meinen Laptop zuhause lassen zu können. Mich beeindruckt
    die Verbindung von Zahlen/Technik und kreativität welche in Bildern resultiert. Ein tolles Bild is ein Produkt, mit welchem jeder
    etwas anfangen kann.
</p>
<p>
    Die Fotografie ist leider nicht gerade das günstigste Hobby und die mit Abstand am teuersten Elemente sind die Objektive. Das Canon 70-200mm
    ist ein Teleobjektiv, also für die Ferne, jedoch durch die sehr hohe Lichtstärke - Offenblende von f/2.8 - eignet es sich auch
    hervorragend für Portrait Aufnahmen.
</p>
<p>
    Nicht nur die Qualität dieses Objektivs ist riesig, sondern auch der Preis von rund CHF 2300.- Da dieser Preis für einen Amateur Fotografen
    nahezu unbezahlbar ist wünsche ich mir dieses auf meinen 30igsten Geburtstag. Somit, wer mag darf sich gerne an diesem Geschenk beteiligen.
</p>

<h2>Hier ein paar Beispiel Bilder</h2>
<a href="https://www.flickr.com/photos/tspycher/12364934485/sizes/l/" target="_blank"> <img src="https://farm8.staticflickr.com/7367/12364934485_897fe8b078_s.jpg"> </a>
<a href="https://www.flickr.com/photos/tspycher/12443290385/sizes/l/" target="_blank"> <img src="https://farm4.staticflickr.com/3747/12443290385_bc577c4900_s.jpg"> </a>


<br />
<br />
