

/* ==========================================================================
   Author's custom styles
   ========================================================================== */






.img-gift {
    max-width: 100px;
}


body {

}
/***************************************************/
/*   Social network icons                          */
/***************************************************/


#socialIcons {
    list-style: none;
    bottom: 0;
}


#socialIcons li {
    float: left;
    margin-right: 6px;
}


