{% extends '::base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
    {{ name }}
    {% verbatim %}
    <div ng-app>
        <div ng-controller="Test">
            Nothing here {{'yet' + '!'}}
            <ul>
                <li ng-repeat="gift in gifts">
                    {{ gift.name }}
                </li>
            </ul>
        </div>
    </div>
    {% endverbatim %}

{% endblock %}